.orderWrap {
  position: fixed;
  top: 0;
  min-width: 380px;
  height: 100%;
  z-index: 100;
  color: #f4f4f4;
  transition: all 0.3s linear;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.openOrder {
  composes: orderWrap;
  left: 0;
}

.closeOrder {
  composes: orderWrap;
  left: -330px;
}

.basketImgWrap {
  width: 100%;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1d1d1d;
}

.orderContent {
  flex-grow: 1;
}

.basketImgWrap p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #888;
  text-align: center;
}

.basketImg {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 220px;
  margin-bottom: 20px;
}

.visibleBasket {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.4s linear;
  background-color: #1d1d1d;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}

.visibleBasket:hover,
.visibleBasket:focus {
  color: #ffd900;
  background-color: #141414;
}

.visibleBasket h3 {
  transform: rotate(-90deg);
}

.checkoutOrder {
  border-color: #373737;
  background: #373737;
  color: #888;
  width: 100%;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  padding: 12px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s cubic-bezier(0.4, 0.01, 0.63, 1);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.checkoutOrder:hover,
.checkoutOrder:focus {
  background: #ffd900;
  color: #0f0f0f;
}

.totalCost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
