.header {
  background-image: url('../../images/hd-1.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: inherit;
  color: #fff;
  transition: all 0.3s linear;
}

.navBlack {
  composes: nav;
  background-color: #0f0f0f;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logoWrap {
  display: flex;
  align-items: center;
}

.logoImg {
  width: 30px;
  margin-right: 15px;
}

.title {
  font-size: 24px;
  font-weight: 400;
}

.graph {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.delivery {
  color: inherit;
  font-size: 14px;
}

.delivery span {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.authBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(211, 211, 211);
  transition: all 0.2s linear;
}

.authBtn:hover,
.authBtn:focus {
  background-color: rgb(243, 243, 243);
}

.offer {
  width: 600px;
  color: #fff;
  padding-top: 250px;
  font-family: Rubik;
}

.offerTitle {
  text-transform: uppercase;
  font-size: 64px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 25px;
}

.offerTitle span {
  color: rgb(253, 198, 47);
}

.description {
  margin-bottom: 60px;
  line-height: 1.4em;
}

.offerButton {
  padding: 10px 35px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  transition: all 0.2s linear;
}

.offerButton:hover,
.offerButton:focus {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(53, 53, 53);
}
